* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    background-color: #F8F6F1;

    text-decoration: none
}


.imagem {
    margin-left: -12vh;
    margin-right: 30vh;
    align-items: center;
}


.logo {
    position: flex;
    width: 132px;
    height: 53px;


}

.cabecario {
    display: inline-flex;
    justify-content: center;
    align-items: space-around;
    width: 100%;
    height: 53px;
    position: flex;


    background: #9D6FFC;
}

.nav {

    display: flex;
    justify-content: space-around;
    margin-top: -0.5vh;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 1vh;



}

.botoes {



    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;


    padding: 0 15px;


    color: #FFFFFF;
    font-stretch: 110;

    text-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.5);
    text-decoration: none;

    padding: 0 30px;


}

.nav li {

    letter-spacing: 2px;

}



.busca {

    position: static;



    width: 205px;
    height: 22px;
    justify-content: center;

    background: #CFADFF;
    border-radius: 50px;
    margin: 12px 0 15px 100px;


}


.lupa {
    position: absolute;
    display: flex;

    margin-top: 4px;
    margin-left: 185px;


    padding: 0%;
    width: 15px;
    height: 15px;

    background: url(lupa.png);
}

.place {
    position: absolute;
    padding: 0%;
    width: 3px;
    height: 13px;
    margin: 4px 10px 10px 10px;


    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    /* identical to box height */


    color: #F8F6F1;
}

.whatsapp {
    width: 22px;
    height: 22px;

    margin: 12px 0 15px 100px;


    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.instagram {

    width: 22px;
    height: 22px;

    margin: 12px 0 15px 50px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/**/
/*/*/
/**/
/*/*/
/*/**/
/**/
/*/**/
/*/*/

.centraliza {
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;



}

.contato {


    width: 1029px;
    height: 651px;


    background: rgba(157, 111, 252, 0.55);
    border-radius: 12px;
    padding: 35px;
    text-align: center;

}

.texto {

    width: 830px;
    height: 37px;

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 38px;



    color: rgba(0, 0, 0, 0.5);

}

.inputos {

    padding: 25px 5px 5px 5px;
    justify-content: center;
    display: grid;
    grid: 400px;


}

.inputos input,
textarea {
    background: #F5F0EB;
    border-radius: 8px;
    width: 720px;
    height: 42px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;

    padding-left: 15px;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Inconsolata';


    opacity: 1.8px;
}


textarea {
    height: 190px;
    padding-top: 10px;
}

.submeter {
    font-family: 'Inconsolata';
    opacity: 0.6;
    width: 720px;
    height: 42px;
    background: #9D6FFC;
    font-size: larger;
    color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    cursor: pointer;
}

.submeter:hover {
    background-color: #9D08FC
}

.login {
    font-family: 'Inconsolata';
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.reset {
    font-family: 'Inconsolata';
    opacity: 0.6;
    width: 720px;
    height: 42px;
    background: rgba(206, 218, 242, 0.7);
    font-size: larger;
    color: #8768F5;
    border-radius: 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    cursor: pointer;
}


.reset:hover {
    background-color: #DE73F5
}



/*/*/
/*/*/
/*/*/
/*/*/
/*/*/
/*/**/
/*/*/
/**/
/*/*/
/*/**/
/**/
/*/**/
/*/*/

.banner {
    box-sizing: border-box;


    width: 342px;
    height: 444px;

    background: #F5F0EB;
    border-radius: 17px;


    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: flex-start;




}


.fotobanner {


    box-sizing: border-box;

    position: absolute;
    width: 279px;
    height: 279px;


    border-radius: 9px;
    margin-top: 21px;


}


.flex {


    margin-top: 85%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.descricao {

    display: flex;



    width: 265px;
    height: 18px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 106.9%;
    /* or 20px */

    text-align: center;
    letter-spacing: 0.045em;

    color: #7F4AEB;

    mix-blend-mode: normal;

    display: flex;
    justify-content: center;
    align-items: center;





}

.preco {

    width: 271px;
    height: 18px;

    font-family: 'Inconsolata', monospace;
    font-style: bold;
    font-weight: 900;
    font-size: 28px;
    line-height: 29px;
    letter-spacing: -0.065em;


    margin-left: 62%;


    color: rgba(98, 41, 218, 0.81);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;



    height: 80%;

    margin-left: 7px;
}


.filtros {

    display: flex;

    width: 1050px;
    height: 48px;

    background: rgba(217, 217, 217, 0.38);
    border-radius: 39px;


    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 45px auto;

    margin-bottom: -35px;

    padding: 13px 20px 25px 15px;
}

.sonho {

    width: 350px;
    height: 10px;



    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 118.4%;
    /* or 22px */

    text-align: center;
    letter-spacing: 0.045em;

    color: rgba(120, 112, 112, 0.51);
}

.select {
    margin-top: 9px;

    width: 142px;
    height: 18px;

    background: rgba(248, 246, 241, 0.87);
    border-radius: 6px;

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 118.4%;
    /* or 14px */

    text-align: center;
    letter-spacing: 0.045em;

    color: #787070;

    border: none;
    border: 0 transparent solid;




}


#option {
    width: 93px;
    height: 9px;

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 118.4%;
    /* or 14px */

    text-align: center;
    letter-spacing: 0.045em;

    color: #787070;
}


select:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}





.genero {
    background: rgba(206, 218, 242, 0.7);
    border-radius: 8px;
    width: 720px;
    height: 42px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;

    padding-left: 15px;

    color: gray;


    font-family: 'Inconsolata';

    opacity: 0.8;
}

input:hover,
select:hover {
    background-color: #E5C6FA;
    transition: 1s;
}

.itemproduto {

    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;



    height: 80%;



    margin: 0 auto;





}

.imagemProduto {
    box-sizing: border-box;


    width: 761px;
    height: 744px;

    border-radius: 9px;




}


.descProduto {
    box-sizing: border-box;


    width: 761px;
    height: 744px;

    background: #F5F0EB;
    border-radius: 17px;

    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.tituloProduto {
    width: 687px;
    height: 146px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 94.9%;
    /* or 34px */

    letter-spacing: 0.005em;

    color: #7F4AEB;

    mix-blend-mode: normal;

    text-align: left;

    padding-top: 5%;


}

.textoProduto {
    width: 682px;
    height: 173px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    /* or 20px */

    letter-spacing: 0.025em;




    text-align: left;

    color: #75707A;
}


.precoProduto {

    width: 190px;
    height: 50px;

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 42px;
    letter-spacing: -0.065em;

    color: rgba(98, 41, 218, 0.81);




    margin-top: 25%;
    margin-right: 62%;

}


.quant {
    display: inline;
    margin-left: 300px;
    margin-top: -60px;
}

.estrelas {

    width: 200px;
    height: 70px;

    margin: 50px 462px 200px 0px;


}

.botaoComprar {
    margin-top: -250px;
    margin-left: 350px;
}


.tituloOutros {

    position: relative;


    margin-left: 55vh;



    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;

    color: #9D6FFC;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}



footer {
    position: absolute;
    bottom: -540px;
    background-color: #9D6FFC;
    color: #FFF;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}


.sobre {

    justify-content: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
    align-items: flex-end;
    letter-spacing: -0.035em;





    color: #F5F4F7;
}



.divpersonalizar {
    box-sizing: border-box;

    position: absolute;
    width: 1200px;
    height: 699px;

    background: #F5F0EB;
    border-radius: 17px;

    text-align: center;



}

.divpersonalizar label {
    padding-top: 36px;
    padding-left: 18px;
}


.itenspersonalizar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;

    margin-top: 75px;
}


.fotoCaneca {


    position: relative;
}

.opcoesPersonalizar {

    position: relative;

    text-align: left;

    padding-left: 105px;



    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 106.9%;
    /* or 24px */


    letter-spacing: 0.045em;

    color: #7F4AEB;

    mix-blend-mode: normal;
}


.blocoCaneca {
    position: absolute;
    width: 550px;
    height: 410px;

    background: #F8F6F1;

    border-radius: 41px;

    margin-left: 100px;
}

.blocoCaneca img {
    width: 440px;
    height: 385px;
}


.textoCaneca {


    position: absolute;

    margin-top: 430px;
    margin-left: 150px;
}

.textoCaneca h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 106.9%;
    /* or 24px */

    text-align: center;
    letter-spacing: 0.045em;

    color: #7F4AEB;

    mix-blend-mode: normal;

    margin-left: 50px;
}

.textoCaneca h1 {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 37px;
    letter-spacing: -0.065em;

    color: #7F4AEB;

    mix-blend-mode: normal;

    text-align: right;



    padding-top: 10px;




}


.textoCaneca img {
    width: 99px;
    height: 35.05px;


    position: absolute;

    margin-top: -44px;

    margin-left: -125px;
}


.opcoesSelect {
    width: 421px;
    height: 38px;

    background: #FFFFFF;
    border-radius: 13px;
    border: 0 transparent solid;

}

.opcoesSelect::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 106.9%;
    /* or 24px */


    letter-spacing: 0.045em;

    color: #7F4AEB;

    mix-blend-mode: normal;
}


.canecafinal {
    border-radius: 15px;
}


/*********************************************Botao****************************************/

/* .myButton {
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:42px;
	border:6px solid #c8e6cb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:15px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662828;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
} */


.botaoBranco {
    background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
    background-color: #ffffff;
    border-radius: 42px;
    border: 6px solid #e0e0e0;
    display: inline-block;
    cursor: pointer;
    color: #f5f5f5;
    font-family: Arial;
    font-size: 13px;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.botaoBranco:hover {
    background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
    background-color: #ffffff;
}

.botaoBranco:active {
    position: relative;
    top: 1px;
}


.botaoPreto {
    background: linear-gradient(to bottom, #000000 5%, #000000 100%);
    background-color: #000000;
    border-radius: 42px;
    border: 6px solid #a6a6a6;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 13px;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
}

.botaoPreto:hover {
    background: linear-gradient(to bottom, #000000 5%, #000000 100%);
    background-color: #000000;
}

.botaoPreto:active {
    position: relative;
    top: 1px;
}


.botaoRoxo {
    background: linear-gradient(to bottom, #9e6ffc 5%, #9373d4 100%);
    background-color: #9e6ffc;
    border-radius: 42px;
    border: 6px solid #cbbbed;
    display: inline-block;
    cursor: pointer;
    color: #fafafa;
    font-family: Arial;
    font-size: 13px;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.botaoRoxo:hover {
    background: linear-gradient(to bottom, #9373d4 5%, #9e6ffc 100%);
    background-color: #9373d4;
}

.botaoRoxo:active {
    position: relative;
    top: 1px;

}

.botaoVermelho {
    background: linear-gradient(to bottom, #eb4a4a 5%, #eb4a4a 100%);
    background-color: #eb4a4a;
    border-radius: 42px;
    border: 6px solid #fca9a9;
    display: inline-block;
    cursor: pointer;
    color: #eb4a4a;
    font-family: Arial;
    font-size: 13px;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.botaoVermelho:hover {
    background: linear-gradient(to bottom, #eb4a4a 5%, #eb4a4a 100%);
    background-color: #eb4a4a;
}

.botaoVermelho:active {
    position: relative;
    top: 1px;
}


.botaoRosa {
    background: linear-gradient(to bottom, #ff00c8 5%, #ff00c8 100%);
    background-color: #ff00c8;
    border-radius: 42px;
    border: 6px solid #f7ace7;
    display: inline-block;
    cursor: pointer;
    color: #ff00c8;
    font-family: Arial;
    font-size: 13px;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.botaoRosa:hover {
    background: linear-gradient(to bottom, #ff00c8 5%, #ff00c8 100%);
    background-color: #ff00c8;
}

.botaoRosa:active {
    position: relative;
    top: 1px;
}


.botaoAzul {
    background: linear-gradient(to bottom, #5100ff 5%, #5100ff 100%);
    background-color: #5100ff;
    border-radius: 42px;
    border: 6px solid #bfa6f7;
    display: inline-block;
    cursor: pointer;
    color: #5100ff;
    font-family: Arial;
    font-size: 13px;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5100ff;
}

.botaoAzul:hover {
    background: linear-gradient(to bottom, #5100ff 5%, #5100ff 100%);
    background-color: #5100ff;
}

.botaoAzul:active {
    position: relative;
    top: 1px;
}


.botaoLaranja {
    background: linear-gradient(to bottom, #fb7c33 5%, #fb7c33 100%);
    background-color: #fb7c33;
    border-radius: 42px;
    border: 6px solid #ffbf9c;
    display: inline-block;
    cursor: pointer;
    color: #fb7c33;
    font-family: Arial;
    font-size: 13px;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fb7c33;
}

.botaoLaranja:hover {
    background: linear-gradient(to bottom, #fb7c33 5%, #fb7c33 100%);
    background-color: #fb7c33;
}

.botaoLaranja:active {
    position: relative;
    top: 1px;
}




/****************************************Footer***********************************************************/